asgiref==3.3.1
astroid==2.5.3
autopep8==1.5.5
colorama==0.4.4
Django==3.1.8
django-filter==2.4.0
djangorestframework==3.12.4
flake8==3.8.4
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
numpy==1.20.2
psycopg2==2.8.6
pycodestyle==2.6.0
pyflakes==2.2.0
PyJWT==2.0.1
pylint==2.7.4
pylint-django==2.4.3
pylint-plugin-utils==0.6
python-dateutil==2.8.1
python-dotenv==0.15.0
pytils==0.3
pytz==2021.1
six==1.15.0
sorl-thumbnail==12.7.0
sqlparse==0.4.1
toml==0.10.2
wrapt==1.12.1
