{% extends 'base.html' %}
{% block title %}{% endblock %}
{% load static %}
{% block content %}
{% if user.is_authenticated and request.user != author %}
{% include 'elements/author_subscribe_button.html'%}
{% endif %}
<div class="card-list">
    {% for recipe in recipe %}
    {% include "parts/recipe_card.html" with recipe=recipe%}
    {% endfor %}
</div>
{% endblock %}
{% block script %}
<script src="{% static 'recipes/js/components/MainCards.js' %}"></script>

<script src="{% static 'recipes/js/components/Purchases.js' %}"></script>
<script src="{% static 'recipes/js/components/Favorites.js' %}"></script>
<script src="{% static 'recipes/js/components/Subscribe.js' %}"></script>

<script src="{% static 'recipes/js/config/config.js' %}"></script>
<script src="{% static 'recipes/js/components/AuthorRecipe.js' %}"></script>
<script src="{% static 'recipes/js/components/Header.js' %}"></script>

<script src="{% static 'recipes/js/api/Api.js' %}"></script>
<script src="{% static 'recipes/authorRecipe.js' %}"></script>
{% endblock %}