{% extends 'base.html' %}
{% block title %}Избранное{% endblock %}
{% load static %}
{% block content %}
<div class="card-list">
    {% for recipe in recipe %}
    {% include "parts/recipe_card.html" %}
    {% endfor %}
</div>
{% endblock %}
{% block script %}
<script src="{% static 'recipes/js/components/MainCards.js' %}"></script>

<script src="{% static 'recipes/js/components/Purchases.js' %}"></script>
<script src="{% static 'recipes/js/components/Favorites.js' %}"></script>

<script src="{% static 'recipes/js/config/config.js' %}"></script>
<script src="{% static 'recipes/js/components/CardList.js' %}"></script>
<script src="{% static 'recipes/js/components/Header.js' %}"></script>

<script src="{% static 'recipes/js/api/Api.js' %}"></script>
<script src="{% static 'recipes/favorite.js' %}"></script>
{% endblock %}