{% extends 'base.html' %}
{% block title %}Рецепты{% endblock %}
{% block content %}
<div class="card-list">
    {% for recipe in recipe %}
    {% include "parts/recipe_card.html" with recipe=recipe %}
    {% endfor %}
</div>
{% include 'parts/paginator.html' with page_obj=page_obj%}
{% endblock %}
{% block script %}
{% load static %}
<script src="{% static 'recipes/js/components/MainCards.js' %}"></script>

<script src="{% static 'recipes/js/components/Purchases.js' %}"></script>

{% if user.is_authenticated %}
<script src="{% static 'recipes/js/components/Favorites.js' %}"></script>
{% endif %}

<script src="{% static 'recipes/js/config/config.js' %}"></script>
<script src="{% static 'recipes/js/components/CardList.js' %}"></script>
<script src="{% static 'recipes/js/components/Header.js' %}"></script>

<script src="{% static 'recipes/js/api/Api.js' %}"></script>
{% if user.is_authenticated %}
<script src="{% static 'recipes/indexAuth.js' %}"></script>
{% else %}
<script src="{% static 'recipes/indexNotAuth.js' %}"></script>
{% endif %}
{% endblock %}