{% extends 'base.html' %}
{% block title %}{{ form.instance.title|yesno:"Редактирование рецепта,Создание рецепта" }}{% endblock%}
{% load static %}
{% load custom_filters %}
{% block headcss %}
<link rel="stylesheet" href="{% static 'recipes/pages/form.css' %}">{% endblock %}
{% block content %}
<div class="form-container">
    <form class="form" method="post"
        action="{% if form.instance == recipe %}{% url 'recipes:recipe_edit' recipe.slug %}{% else %}{% url 'recipes:new_recipe' %}{% endif %}"
        enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'blocks/form_group.html' with field=form.title css='form__input' %}
        {% include 'parts/form_tags.html' with instance_tags=form.instance.list_of_tags form_tags=form.cleaned_data.tags_in_recipe %}
        {% include 'parts/form_ingredients.html' with field=form.ingredients_in_recipe %}
        {% include 'blocks/form_group.html' with field=form.time_to_cook label='минут' time=True css='form__input' %}
        {% include 'blocks/form_group.html' with field=form.description css='form__textarea' %}
        {% include 'blocks/form_group.html' with field=form.image %}
        {% if form.instance == recipe %}
        {% url 'recipe_delete' recipe.slug as recipe_delete_url %}
        {% include 'elements/button_style_blue_form.html' with text='Сохранить' url=recipe_delete_url url_text='Удалить' %}
        {% else %}
        {% include 'elements/button_style_blue_form.html' with text='Создать рецепт' %}
        {% endif %}
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'recipes/js/config/config.js' %}"></script>
<script src="{% static 'recipes/js/components/Header.js' %}"></script>
<script src="{% static 'recipes/js/utils/debouncing.js' %}"></script>
<script src="{% static 'recipes/js/api/Api.js' %}"></script>
<script src="{% static 'recipes/formRecipe.js' %}"></script>
{% endblock %}