{% extends 'base.html' %}
{% block title %}{{ recipe.title }}{% endblock %}
{% load static %}
{% load custom_filters %}
{% block headcss %}<link rel="stylesheet" href="{% static 'recipes/pages/single.css' %}">{% endblock %}
{% block content %}
{% include 'parts/single_card.html' %}
{% endblock %}

{% block script %}
<script src="{% static 'recipes/js/components/Purchases.js' %}"></script>
<script src="{% static 'recipes/js/components/Favorites.js' %}"></script>
<script src="{% static 'recipes/js/components/Subscribe.js' %}"></script>
<script src="{% static 'recipes/js/config/config.js' %}"></script>

<script src="{% static 'recipes/js/components/MainCards.js' %}"></script>
<script src="{% static 'recipes/js/components/SingleCard.js' %}"></script>
<script src="{% static 'recipes/js/components/Header.js' %}"></script>

<script src="{% static 'recipes/js/api/Api.js' %}"></script>
<script src="{% static 'recipes/singlePage.js' %}"></script>
{% endblock %}
