{% extends 'base.html' %}
{% block title %}Страница не найдена{% endblock %}
{% block content %}
    <div class="custom-center-block">
            <p class="custom-text-block">В проекте использовано:</p>
            <p class="custom-text-block"><a href="https://docs.djangoproject.com/en/3.1/" class="single-card__text">[Django 3.1]</a></p>
            <p class="custom-text-block"><a href="https://www.django-rest-framework.org/" class="single-card__text">[Django REST framework 3.11]</a></p>
            <p class="custom-text-block"><a href="https://www.postgresql.org/docs/12/plperl-builtins.html" class="single-card__text">[PostgreSQL 12.4]</a></p>
            <p class="custom-text-block"><a href="https://www.docker.com/" class="single-card__text">[Docker 20.10.2]</a></p>
         
    </div>
{% endblock %}