<div class="single-card__info">
    <div class="single-card__header-info">
        {% include 'elements/single_card_title.html' %}
        {% if user.is_authenticated %}
            <div class="single-card__favorite">
                {% include 'elements/button_favorite.html' with cur_template='single_card_info' %}
            </div>
        {% endif %}
    </div>
    <ul class="single-card__items">
        {% for tag in recipe.tags.all %}
        {% include "elements/single_card_tag.html" %}
        {% endfor %}  
    </ul>
    <div class="single-card__items single-card__items_column">
        {% include 'elements/icon_time.html' with css='single-card__text' %}
        <ul class="single-card__items">
            {% include 'elements/icon_user.html' with cur_template='single_card_info' %}
            {% if user.is_authenticated and user == recipe.author %}
            {% url 'recipes:recipe_edit' recipe.slug as recipe_edit_url %}
            {% include 'elements/single_card_link.html' with text='Редактировать рецепт' url=recipe_edit_url %}
            {% endif %}
        </ul>
    </div>
    {% if user.is_authenticated %}
    <ul class="single-card__items">
            {% include 'elements/button_purchase.html' with cur_template='single_card_info' %}
            {% if request.user != recipe.author %}
            {% include 'elements/button_subscribe.html' with cur_template='single_card_info' %}
            {% endif %}
    </ul>
    {% endif %}
    <div class="single-card__section">
        {% include 'elements/single_card_section_title.html' with text='Ингредиенты:' %}
        <div class="single-card__items single-card__items_column">
            {% for ingredient in recipe.ingredients.all %}
            {% include 'elements/single_card_section_item.html' %}
            {% endfor %}
        </div>
    </div>
    <div class="single-card__section">
        {% include 'elements/single_card_section_title.html' with text='Описание:' %}
        {% include 'elements/single_card_section_text.html' %}
    </div>
</div>