{% load static %}
{% with request.resolver_match.url_name as current_url %}
{% if current_url == 'purchase' %}
<img src="{% if purchase.recipe.image %} {{ purchase.recipe.image.url }} {% else %} {% static 'recipes/nophoto.png' %} {% endif %}" alt="какой-то текст" class="recipe__image recipe__image_big">
{% else %}
<a href="{{ recipe.get_absolute_url }}" class="link"></a>
<img src="{% if recipe.image %} {{ recipe.image.url }} {% else %} {% static 'recipes/nophoto.png' %} {% endif %}" alt="Какой-то текст" class="card__image">
</a>
{% endif %}
{% endwith %}