{% if form.errors %}
    {% for key, value in form.cleaned_data.ingredients_in_recipe.items %}
    <div class="form__field-item-ingredient" id="ing_{{ forloop.counter }}">
        <span> {{ key.title }} {{ value }} {{ key.demension }}</span>
        <span class="form__field-item-delete"></span>
        <input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient_{{ forloop.counter }}" type="hidden" value="{{ key.title }}">
        <input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient_{{ forloop.counter }}" type="hidden" value="{{ value }}">
        <input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient_{{ forloop.counter }}" type="hidden" value="{{ key.dimension }}">
    </div>
    {% endfor %}
{% else %}
    {% for ingredient in recipe.ingredients.all %}
    <div class="form__field-item-ingredient" id="ing_{{ forloop.counter }}">
        <span> {{ ingredient.ingredient }} {{ ingredient.quantity }} {{ ingredient.ingredient.dimension }}</span>
        <span class="form__field-item-delete"></span>
        <input id="nameIngredient_{{ forloop.counter }}" name="nameIngredient_{{ forloop.counter }}" type="hidden" value="{{ ingredient.ingredient }}">
        <input id="valueIngredient_{{ forloop.counter }}" name="valueIngredient_{{ forloop.counter }}" type="hidden" value="{{ ingredient.quantity }}">
        <input id="unitsIngredient_{{ forloop.counter }}" name="unitsIngredient_{{ forloop.counter }}" type="hidden" value="{{ ingredient.ingredient.dimension }}">
    </div>
    {% endfor %}
{% endif %}
