<h1 class="main__title">
    {% if current_url == 'recipes:index' %} 
    Рецепты 
    {% elif current_url == 'recipes:author' %} 
    {% firstof author.get_full_name author.username %}
    {% elif current_url == 'recipes:favorite' %} 
    Избранное 
    {% elif current_url == 'recipes:follow' %} 
    Мои подписки 
    {% elif current_url == 'recipes:purchase' %} 
    Мои покупки
    {% elif current_url == 'recipes:new_recipe' %} 
    Создание рецепта
    {% elif current_url == 'recipes:recipe_edit' %} 
    Редактирование рецепта
    {% endif %}
</h1>
