{% extends 'base.html' %}
{% block title %}Войти на сайт{% endblock %}
{% load static %}
{% load custom_filters %}
{% block headcss %}
<link rel="stylesheet" href="{% static 'users/pages/form.css' %}">{% endblock %}
{% block content %}
{% include 'elements/main_header.html' with text='Сброс пароля' %}
<div class="form-container">
    <form class="form" action="{% url 'password_reset' %}" method="POST">
        {% include 'elements/form_info_text.html' with text='Чтобы сбросить старый пароль — введите адрес электронной
        почты, под которым вы регистрировались.' %}
        {% csrf_token %}
        {% for field in form %}
        {% include 'blocks\form_group.html' with field=field %}
        {% endfor %}
        {% include 'elements/form_footer_button.html' with text='Сбросить пароль'%}
    </form>
</div>
{% endblock %}