{% extends 'base.html' %}
{% block title %}Войти на сайт{% endblock %}
{% load static %}
{% load user_filters %}
{% block headcss %}<link rel="stylesheet" href="{% static 'pages/form.css' %}">{% endblock %}
{% block content %} 
    <div class="main__header">
        <h1 class="main__title">Сброс пароля</h1>
    </div>
    <div class="form-container">
        <div class="form">
            <p class="form__info-text">
                Инструкция по сбросу пароля отправлена на почту
            </p>
            <div class="form__footer">
                <a class="button button_style_blue" href="{% url 'index' %}">Вернуться на главную</a>
            </div>
        </div>
    </div>
{% endblock %}
