{% extends 'base.html' %}
{% block title %}Изменить пароль{% endblock %}
{% load static %}
{% load custom_filters %}
{% block headcss %}
<link rel="stylesheet" href="{% static 'users/pages/form.css' %}">{% endblock %}
{% block content %}
{% include 'elements/main_header.html' with text='Изменить пароль' %}
<div class="form-container">
    <form class="form" action="{% url 'users:password_change' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
        {% include 'blocks/form_group.html' with field=field css='form__input' %}
        {% endfor %}
        {% include 'elements/button_style_blue_form.html' with text='Изменить пароль' %}
    </form>
</div>
{% endblock %}