{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% load static %}
{% block headcss %}<link rel="stylesheet" href="{% static 'users/pages/form.css' %}">{% endblock %}
{% block content %}
{% include 'elements/main_header.html' with text='Регистрация' %}
<div class="form-container">
    <form class="form" action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
        {% include 'blocks/form_group.html' with field=field css='form__input' %}
        {% endfor %}
        {% include 'elements/button_style_blue_form.html' with text='Создать аккаунт'%}
    </form>
</div>
{% endblock %}