<div class="form__group">
    <label for="nameIngredient" class="form__label">Ингредиенты</label>
    <div class="form__field-group">
        <div class="form__field-group-ingredientes">
            <div class="form__dropdown">
                <input type="text" id="nameIngredient" class="form__input">
                <div class="form__dropdown-items"></div>
            </div>
            <input type="number" id="cantidad" class="form__input" min="0">
            <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
        </div>
        {% include "blocks/form_block_ingredients.html" with field=form.ingredients_in_recipe %}
        <span class="form__error">{{ field.errors }}</span>
    </div>
</div>