<div class="card" data-id="{{ recipe.id }}">
    {% load static %}
    <a href="{{ recipe.get_absolute_url }}" class="link" target="_blank"></a>
    {% load thumbnail %}
    {% load poll_extras %}
    <img src="{% if recipe.image %} {{ recipe.image.url }} {% endif %}" alt="Какой-то текст" class="card__image">
    </a>
    <div class="card__body">
        <a class="card__title link" href="{{ recipe.get_absolute_url }}" target="_blank">{{ recipe.title }}</a>
        <ul class="card__items">

            <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
            <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
            <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
            
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.time_to_cook }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'author' recipe.author.username %}" style="color: black">{{ recipe.author.get_full_name }}</a></p>
        </div>
    </div>
    <div class="card__footer">
        {% csrf_token %}
        <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
        {% if user.is_authenticated %}
        {% if recipe|is_favorite:request.user %}
        <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_active"></span></button>
        {% else %}
        <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
        {% endif %}
        {% endif %}
    </div>
</div>